<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default shape-danger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">404
                <span>Aradığınız Sayfa Bizde Yok(henüz)</span>
              </h1>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-12 margin-top-3">
              <div class="card shadow border-0">
                <div class="card-header text-center">
                  <h4>
                    Kayıp Mı Oldunuz
                    <small class="text-muted">Panik Yapmayın</small>
                  </h4>

                </div>
                <div class="card-body py-5 text-center">
                  <h5>Sizi yönlendirmek için burada 2 adet link var.</h5>
                  <div class="text-center">
                    <button type="button" class="btn btn-primary " routerLink="">Ana Sayfaya Git</button>
                    <button type="button" class="btn btn-secondary " onclick="window.history.back();">Bir önceki sayfaya git</button>
                  </div>

                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

</main>
