<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section main-section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="#">
                  <img src="./assets/img/theme/me.jpg" class="rounded-circle">
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 ">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">100</span>
                  <span class="description">bitirilen kahve paketleri</span>
                </div>
                <div>
                  <span class="heading">20</span>
                  <span class="description">den fazla mutlu müşteri</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">10.000</span>
                  <span class="description">satırdan fazla kod</span>
                </div>
                <div>
                  <span class="heading">100</span>
                  <span class="description">den fazla uykusuz gece</span>
                </div>

              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <h3>Sefa Said Deniz
              <span class="font-weight-light">, 25</span>
            </h3>
            <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>İstanbul, Türkiye</div>
            <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>Full Stack Developer</div>
            <div><i class="ni education_hat mr-2"></i>Beykent Üniversitesi Yazılım Mühendisliği Mezun</div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <p>
                  2012 yılından beri aktif olarak sektör içindeyim.
                </p>
                <p>
                  Sizler için ionic ile mobil uygulamalar geliştirebilirim.
                </p>
                <p>
                  Php ile dinamik aktif web siteleri yazababilirim
                </p>
                <p>
                  Nodejs ile hem web sitesi yazabildiğim gibi hemde sunucu taraflı api vb ugulamalar yapabilirim
                </p>
                <p>
                  Siteleriniz yeterince interaktif değilse AngularJs ile sitelerinizi progressive web app haile getirebilirim
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
